@import '~tachyons';
:root {
  --default-row-spacing: 0.3rem;
}
.SpacedRow {
  display: flex;
  flex-direction: row;
  margin: 0 calc(-1 * var(--default-row-spacing));
}
.SpacedRow--inline {
  display: inline-flex;
}

.SpacedRow > * {
  margin: 0 var(--default-row-spacing);
  display: inline-block;
}
